.chart {
  margin-bottom: 45px;
}
.chart-header {
  font-weight: bold;
  color: #271841;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 25px;
  background: #edeff2;
  border-radius: 5px 5px 0 0;
}
.chart-block {
  width: 750px;
  height: 400px;
  position: relative;
}
.chart .buttons {
  display: flex;
}
