.chart-button {
  display: block;
  color: #868e98;
  padding: 5px 10px;
  margin-right: 22px;
  transition: 0.3s;
  font-weight: bold;
  text-decoration: none;
  border-radius: 4px;
}
.chart-button:last-child {
  margin-right: 0;
}
.chart-button:hover,
.chart-button.active {
  background: #347ffb;
  color: white;
}
