.auth {
  padding: 16px;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.auth .particles {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: #f5f5f6;
}
.auth .logo-wrapper {
  display: flex;
  justify-content: center;
}
.auth .block {
  box-shadow: 0 0 38px rgba(42, 42, 42, 0.07);
  border-radius: 7px;
  border: 1px solid #c3c3c3;
  background-color: #ffffff;
  margin-bottom: 23px;
  padding: 20px 18px;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  min-width: 440px;
}
.auth .block:last-child {
  margin-bottom: 0;
}
.auth .block.center {
  text-align: center;
}
.auth .field {
  border-radius: 7px;
  border: 1px solid #dfdfdf;
  padding: 11px 16px 11px 54px;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  display: block;
  width: 100%;
  outline: none;
  transition: 0.3s;
}
.auth .field:hover {
  border-color: #4db6e2;
}
.auth .field:focus {
  box-shadow: 0 0 5px 0 #4db6e2;
}
.auth .field::placeholder {
  color: #d5d5d5;
}
.auth .field-wrapper {
  position: relative;
  margin-bottom: 22px;
}
.auth .field-wrapper:last-child {
  margin-bottom: 0;
}
.auth .field-icon {
  display: block;
  position: absolute;
  left: 19px;
  top: 50%;
  transform: translateY(-50%);
  max-height: 20px;
  max-width: 20px;
  opacity: 0.4;
}
.auth .btn {
  display: block;
  border-radius: 7px;
  border: none;
  background-color: #4db6e2;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  color: #ffffff;
  padding: 12px;
  width: 100%;
  cursor: pointer;
  transition: 0.3s;
  outline: none;
}
.auth .btn:hover {
  box-shadow: 3px 5px 15px 0 rgba(0, 0, 0, 0.1);
}
.auth .btn:active {
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
}
.auth .error {
  margin-bottom: 22px;
  color: firebrick;
}
